/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ----------------------------------------------------------
   Grid
  ----------------------------------------------------------
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ----------------------------------------------------------
   Typography
  ----------------------------------------------------------
*/

h1, h2, h3, h4, h5, h6, p, a, small {
  font-family: Montserrat, Helvetica, Sans-Serif;
  color: #3c3c3c;
  font-size: 15px;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 50px;
  margin: 20px 0px 20px 0px;
}

h2 {
  font-size: 36px;
  margin: 20px 0px 20px 0px;
}

a {
  text-decoration: none;
  color: #047a79;
  font-weight: bold;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  padding: 22px 2% 22px 2%;
}

.notice {
  padding: 22px 2% 22px 2%;
  background-color: #a01c16;
  color: #ffffff;
}

.notice h1 {
  color: #ffffff;
}

/*
  ========================================
  Home
  ========================================
*/

header, footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 25px;
  background-color: #047a79;
}

section {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

.logo img:hover {
  height: 60px;
}

.copy-statement {
  display: flex;
  align-items: center;
}

.hero p,
.hero a {
  font-size: 20px;
}

.hero p {
  line-height: 150%;
  margin-bottom: 20px;
}

header small, header a, footer small, footer a {
  color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
  width: 75%;
}

nav a {
  color: #ffffff;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  font-size: 20px;
}