/*
  ----------------------------------------------------------
   CSS Reset
  ----------------------------------------------------------
*/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ----------------------------------------------------------
   Grid
  ----------------------------------------------------------
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ----------------------------------------------------------
   Typography
  ----------------------------------------------------------
*/

html {
  font-size: 5px;
}
body {
  font-family: "Montserrat", Helvetica, Sans-Serif;
  color: #2d3a3a;
  font-size: 2rem;
  line-height: 1.5;
}
h1, h2, a, em {
  font-weight: bold;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 6rem;
}
a,
em {
  color: #047a79;
}
a {
  text-decoration: none;
}

/*
  ----------------------------------------------------------
  Body general
  ----------------------------------------------------------
*/

body {
  width: 100%;
  background-color: #047a79;
}
main {
  width: 100%;
}
section {
  width: 100%;
}
.aside-social-navigation {
  position: fixed;
  bottom: 2rem;
  right: 2vw;
  z-index: 5;
  text-align: center;
  transition: all 1s ease;
  transform: translateY(100%);
}
.aside-social-navigation.open {
  transform: translateY(0);
}
.aside-social-navigation a {
  font-size: 6rem;
  color: #fff;
}
.aside-social-navigation li {
  transition: transform 75ms linear 1ms;
}
.aside-social-navigation li:hover,
.aside-social-navigation li:focus {
  transform: scale(1.3);
}

/*
  ----------------------------------------------------------
  Header and footer
  ----------------------------------------------------------
*/

header,
footer {
  display: flex;
  padding: 0 2vw 0 3vw;
  align-items: center;
  width: 100%;
  background-color: #047a78;
  position: sticky;
  overflow: visible;
}
header {
  height: 12rem;
  z-index: 4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 6rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
footer {
  z-index: 2;
  justify-content: center;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.3);
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: 10;
}
.logo img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 7rem;
  align-items: center;
  vertical-align: middle;
  transition: transform 150ms linear 1ms;
  transform-origin: center left;
}
.logo img:hover,
.logo img:focus {
  transform: scale(1.2);
}
.footer-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
.copy-statement,
.credits {
  padding: 0.2rem;
}
header small,
header a,
footer small,
footer a {
  color: #fff;
}

/*
  ----------------------------------------------------------
  Main navigation menu
  ----------------------------------------------------------
*/

#toggle {
  display: none;
}
.toggle {
  padding: 0 2vw;
  font-size: 6rem;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
  z-index: 9;
}
.toggle:hover {
  color: #9dcccb;
}
.navigation-menu {
  display: none;
}
#toggle:checked ~ .navigation-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  line-height: 1rem;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}
#toggle:checked ~ .navigation-menu ul {
  height: auto;
  width: 100%;
}
#toggle:checked ~ .navigation-menu li {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
}
#toggle:checked ~ .navigation-menu a {
  height: 100%;
  width: 100%;
  padding: 3rem 0;
  align-items: center;
  font-size: calc(16px + 1.2rem);
  line-height: 100%;
  transition: all 75ms linear 0.2s;
}
#toggle:checked ~ .navigation-menu li:first-of-type {
  padding-top: 12rem;
}
#toggle:checked ~ .navigation-menu li:last-of-type {
  padding-bottom: 2rem;
}
#toggle:checked ~ .navigation-menu li > a:hover,
#toggle:checked ~ .navigation-menu li > a:focus {
  transform: scale(1.2);
  background-color: rgba(68, 68, 68, 0.9);
}

/*
  ----------------------------------------------------------
  Social navigation menu
  ----------------------------------------------------------
*/

.social-navigation {
  display: flex;
  margin-bottom: 2rem;
}
.social-navigation ul {
  display: flex;
  flex-direction: row;
}
.social-navigation li {
  padding: 0 2rem;
  transition: transform 75ms linear 0.2s;
}
.social-navigation li:hover,
.social-navigation li:focus {
  transform: scale(1.3);
  padding: 0 2rem;
}
.social-navigation a {
  font-size: 4rem;
}

/*
  ----------------------------------------------------------
  Home
  ----------------------------------------------------------
*/

.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.hero p,
.hero a  {
  font-size: 4rem;
}
.hero a {
  transition-property: font-size;
  transition-duration: 75ms;
  transition-timing-function: linear;
  transition-delay: 0.25s;
}
.hero p {
  line-height: 150%;
  margin-bottom: 4rem;
}
.hero a:hover,
.hero a:focus {
  transform: scale(1.3);
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  padding: 25vh 6rem;
}
.hero-content h1,
.hero-content p,
.hero-content a {
  color: #fff;
}
.hero-content h1 {
  font-size: 8rem;
}
.notice h1 {
  color: #fff;
  line-height: 110%;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-background-clip {
  background: rgb(4,122,121);
  background: linear-gradient(180deg, rgba(4,122,121,1) 0%, rgba(2,57,56,1) 100%);
  background: url("../media/photos/background/pan-san-pedro.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
  ----------------------------------------------------------
  General internal pages
  ----------------------------------------------------------
*/

.main-internal-page {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
  background: rgb(4,122,121);
  background: linear-gradient(180deg, rgba(4,122,121,1) 0%, rgba(2,57,56,1) 100%);
  background: url("../media/photos/background/pan-caldas.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 35%;
}
.internal-overlay {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 4rem 8rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.internal-content-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 300px;
  justify-content: flex-start;
  text-align: left;
  margin-right: 3rem;
}
.lead {
  padding: 0;
  margin-bottom: 4rem;
  color:#fff;
  text-align: center;
  align-items: center;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: linear;
  transition-delay: 0.1s;
}
.lead:hover,
.lead:focus {
  transform: scale(1.3);
}
.lead h1 {
  color: #fff;
  text-align: center;
}
.regular {
  padding: 0;
  text-align: left;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
}
.regular p,
.regular li,
.regular dt,
.regular dd,
.regular a,
.regular form {
  font-size: 4rem;
  line-height: 150%;
}
.regular > h1,
.regular > h2,
.regular > p,
.regular > ul,
.regular > ol,
.regular > nav,
.regular > form,
.regular > .gallery {
  padding: 4rem 5rem;
}
.regular > h1,
.regular > h2 {
  padding-bottom: 0;
}
.regular-button {
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2rem 4rem;
  background: #047a79;
  border-radius: 5rem;
}
.regular-button:hover,
.regular-button:focus {
  background: #058d8b;
}
article {
  margin: 0 auto;
}
.regular > p {
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.regular > p:hover,
.regular > p:focus {
  background: rgba(4, 122, 121, 0.25);
}
.regular > p:first-child {
  border-radius: 2rem 2rem 0 0;
}
.regular > p:last-child {
  border-radius: 0 0 2rem 2rem;
}

/*
  ----------------------------------------------------------
  Our services
  ----------------------------------------------------------
*/

.service {
  padding: 2rem 5rem 6rem 5rem;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.service:hover {
  background: rgba(4, 122, 121, 0.25);
}
.service h2 {
  padding: 0;
}
.service p {
  padding: 0 0 5rem 0;
}

/*
  ----------------------------------------------------------
  Portfolio
  ----------------------------------------------------------
*/
.gallery {
  max-width: 100%;
}
.gallery-video {
  min-width: 250px;
  max-width: 100%;
}

/*
  ----------------------------------------------------------
  Get a quote with us
  ----------------------------------------------------------
*/

fieldset {
  padding: 4rem 5rem;
  border: #047a79 2px solid;
  border-radius: 2rem;
}
input,
select,
textarea {
  font: 400 3rem/4rem "Montserrat", Helvetica, Sans-Serif;
}
input::placeholder,
select::placeholder,
textarea::placeholder {
  font: 300 3rem/4rem "Montserrat", Helvetica, Sans-Serif;
  color: #2d3a3aa8;
}
label {
  display: inline-block;
}
.quotation-group label {
  color: #047a79;
  cursor: pointer;
  font-weight: 600;
}
.quotation-group input,
.quotation-group select,
.quotation-group textarea {
  border: 1px solid #047a79;
  border-radius: 5px;
  background: #ffffff42;
  color: #2d3a3a;
  display: block;
  margin: 1rem 0 2rem 0;
  padding: 1rem 1.6rem;
}
.quotation-group input:focus,
.quotation-group select:focus,
.quotation-group textarea:focus {
  background: rgba(53, 182, 180, 0.25);
}
.input-1-2,
.input-2-2 {
  width: 49%;
  min-width: 250px;
}
.input-1-2 {
  margin-right: 1%;
}
.input-1-1 {
  width: 100%;
  min-width: 250px;
}
.input-1-1 select,
.input-1-1 textarea {
  min-width: 250px;
  width: 100%;
}
.input-1-1 textarea {
  min-width: 250px;
  resize: vertical;
  height: 20rem;
}
.quotation-group input {
  width: 100%;
}
.sublabel,
.label-marker {
  padding: 0 1rem;
  font-size: 3rem;
  line-height: 3rem;
}
.sublabel {
  display: block;
  font-weight: 300;
}
.label-marker {
  font-weight: 500;
}
.embedded-map {
  height: 250px;
  width: 100%;
  border: 1px solid #047a79;
  border-radius: 5px;
}
.send-button {
  margin-top: 4rem;
}
label:hover {
  color: #058d8b;
}

/*
  ----------------------------------------------------------
  Contact us
  ----------------------------------------------------------
*/

.contact-social-navigation {
  display: flex;
  justify-content: center;
}
.contact-social-navigation ul {
  display: flex;
  flex-direction: row;
}
.contact-social-navigation li {
  padding: 0 2rem;
  transition-property: transform;
  transition-duration: 75ms;
  transition-timing-function: linear;
  transition-delay: 0.2s;
}
.contact-social-navigation li:hover,
.contact-social-navigation li:focus {
  transform: scale(1.3);
}
.contact-social-navigation a {
  font-size: 8rem;
}
.side-icon {
  width: 7rem;
  transition-property: transform;
  transition-duration: 75ms;
  transition-timing-function: linear;
  transition-delay: 0.2s;
}
.side-icon:hover,
.side-icon:focus {
  transform: scale(1.3);
}

/*
  ----------------------------------------------------------
  Responsive design (fonts and sizes)
  ----------------------------------------------------------
*/

@media screen and (min-width: 1080px) {
  html {
    font-size: 6px;
  }
}

/*
  ----------------------------------------------------------
  Responsive design (navbar)
  ----------------------------------------------------------
*/

@media screen and (min-width: 1080px) {
  .toggle {
    display: none;
  }
  #toggle:checked ~ .navigation-menu {
    position: static;
  }
  .navigation-menu,
  #toggle:checked ~ .navigation-menu {
    display: flex;
    flex-direction: row;
    min-height: 0;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    background-color: transparent;
    overflow: hidden;
  }
  .navigation-menu ul,
  #toggle:checked ~ .navigation-menu ul {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navigation-menu li,
  #toggle:checked ~ .navigation-menu li {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    padding: 0;
  }
  .navigation-menu li:hover,
  .navigation-menu li:focus,
  #toggle:checked ~ .navigation-menu li a:hover,
  #toggle:checked ~ .navigation-menu li a:focus {
    background-color: transparent;
  }
  #toggle:checked ~ .navigation-menu li:first-of-type {
    padding-top: 0;
  }
  #toggle:checked ~ .navigation-menu li:last-of-type {
    padding-bottom: 0;
  }
  .navigation-menu li a,
  #toggle:checked ~ .navigation-menu li a {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 3rem;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    line-height: 120%;
    transition: all 75ms linear 0.2s;
  }
  .navigation-menu a:hover,
  .navigation-menu a:focus {
    transform: scale(1.2);
    color: #9dcccb;
  }
  .nav-active {
    position: relative;
  }
  .nav-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
  }
}

/*
  ----------------------------------------------------------
  Responsive design (homepage)
  ----------------------------------------------------------
*/

@media screen and (min-width: 1080px) {
  .navigation-menu {
    transition: all 1s ease;
    transform: translateX(100%);
  }
  .navigation-menu.open {
    transform: translateX(0);
  }
}

/*
  ----------------------------------------------------------
  Responsive design (internal pages)
  ----------------------------------------------------------
*/

@media screen and (min-width: 1080px) {
  .internal-content-wrapper {
    width: 60%;
    margin-right: 0;
  }
  .gallery-video {
    max-width: 49%;
  }
}
